h1 {
    font: italic bold 2.2rem "Fira Sans", serif;
}

.button_liked {
    background-color: green; /* Измените цвет фона на ваш выбор */
    color: white; /* Измените цвет текста на ваш выбор */
}

.button_not_liked {
    background-color: whitesmoke; /* Измените цвет фона на ваш выбор */
    color: black; /* Измените цвет текста на ваш выбор */
}

.gameInList{
    background-color: #3875d7;
}

