.user_panel {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.tag-list {
    margin-bottom: 10px;
}

.tag {
    display: inline-block;
    background-color: #f0f0f0;
    color: #333;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: transform 0.3s, background-color 0.3s;
}

.tag:hover {
    background-color: #ddd;
    transform: translateY(-3px);
}

.additional_game_info{
    border: 1px solid #ccc;
    padding: 10px;
}

.gameInList {
    background-color: #CC3434;
    color: #fff;
    border-color: #007bff;
}

