.button_liked {
    background-color: green;
    color: white;
}

.button_not_liked {
    background-color: whitesmoke;
    color: black;
}

.field-label {
    font-weight: bold;
    color: #1b1b1b;
}

.description {
    font-style: italic;
    color: #6c757d;
}

.review .card-text{
    padding-left: 20px;
    padding-right: 20px;
}
