{% extends 'base.html' %}
{% load static %}
{% block content %}

    <a href="{{ dictionary.user.get_absolute_url }}" class="btn btn-secondary mb-3">Назад к профилю</a>

    <div class="box_with_shadow pl-3 pt-2 mt-3 mb-2 w-75">
        <h2>Дневник прохождения "{{ dictionary.name }}"</h2>
        <h3>Игра <a href="{{ dictionary.game.get_absolute_url }}"> {{ dictionary.game.name }} </a></h3>
        <div class="description mb-4">
            {{ dictionary.description|linebreaksbr }}
        </div>

        {% if dictionary.user.pk == request.user.pk %}
            <a href="{{ dictionary.get_absolute_url }}/update" class="btn btn-primary mb-3">Изменить информацию о
                дневнике прохождения</a>
            <h3>Добавить новую запись</h3>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-lg btn-success mt-2">Добавить</button>
            </form>
        {% endif %}

    </div>

    <div class="box_with_shadow pl-3 pt-2 mt-3 mb-2 w-75">
        <h2>Список записей</h2>
        <ul class="list-group  ">
            {% for activity in object_list %}
                <li class="list-group-item" style="border: none;">{% include 'elements/activity/activity_element.html' %}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
