{% load static %}
<nav class="user_nav">
    {% if not user.is_authenticated %}
        <a href="{% url 'users:login' %}?next={{ request.path }}"> Login</a>

    {% else %}
        <p id="username"> {{ user.username }} </p>
        <a href="{% url 'users:logout' %}"> Logout</a>

        <div>
            {% if user.photo %}
                <img src="../media/{{ user.photo }}" style="width: 50px;" alt="avatar"/>

            {% else %}
                <img src="{% static 'img/avatar-default.jpg' %}" style="width: 50px;" alt="avatar">
        </div>
        {% endif %}

    {% endif %}
</nav>