{% load static %}
<nav class="user_nav">

    {% if not user.is_authenticated %}
        <a href="{% url 'users:login' %}?next={{ request.path }}"> Войти</a>
        <a href="{% url 'users:register' %}?next={{ request.path }}">Регистрация</a>
    {% else %}
        <p id="username"> {{ user.username }} </p>

        <a href="{{ user.get_absolute_url }}"> Профиль</a>
        <a href="{% url 'users:logout' %}"> Logout</a>

        {% include 'elements/users/user_photo.html' with user_of_photo=user %}


    {% endif %}
</nav>