{% if user.is_authenticated %}
    <div class="user_panel">

        <div class="add_button">
            {% if game not in user.games.all %}

                <form method="POST" action="{% url 'add_game' game_slug=game.slug %}">
                    {% csrf_token %}
                    <button type="submit">Добавить в коллекцию</button>
                </form>

            {% else %}

                <form method="POST" action="{% url 'delete_game' game_slug=game.slug %}">
                    {% csrf_token %}
                    <button type="submit">Удалить из коллекции</button>
                </form>

            {% endif %}
        </div>

        <div class="review_button">
            <form method="GET" action="{% url 'activity:addReview' game_slug=game.slug %}">
                <button type="submit">Написать рецензию</button>
            </form>
        </div>

        {% include 'elements/users/add_game_to_list.html' %}
    </div>

{% endif %}