{% load static %}
{% if request.user.pk == user_p.pk %}
    <!-- Форма добавления новых списков, отображается только на личном профиле-->
    <button id="createListBtn">Создать новый список</button>

    <script src="{% static 'js/add_list.js' %}"></script>

    <div id="createListForm" style="display: none;">
        <form id="listForm" method="post" action="{% url 'users:add_list' %}">
            {% csrf_token %}
            {{ add_list_form.as_p }}
            <button type="submit">Создать</button>
        </form>
    </div>

{% endif %}