{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="game_info">
        <h1>{{ game.name }}</h1>
        <img src="{{    game.poster.url }}" style="width: 25%;" alt="{{ game.name }} poster"/>

        <div class="main_game_info">
            <h2>Описание</h2>
            <p>
                {{ game.description }}
            </p>
        </div>

        <div class="additional_game_info">

            <p> <b>Студия</b> - {{ game.studio }}</p>

            <h4>Теги: </h4>
            <ul>
                {% for tag in game.tags.names %}
                <li>{{ tag }}</li>
                {% endfor %}
            </ul>

            <h4> Ссылки: </h4>
            <ul>
                {% for link in links %}
                <li><a href="{{ link.link }}">{{ link.name }}</a></li>
                {% endfor %}
            </ul>

            <h4> Релизы: </h4>
            {% if releases %}
                <ul>
                    {% for release in releases %}
                    <li>{{ release.platform.name }} - {{ release.release_date }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Релизов ещё нет</p>
            {% endif %}

        </div>

    </div>

    {% include 'elements/user_game_panel.html' %}

    <div class="review_list">

        <h2>Рецензии на игру</h2>
        <ul>
            {% for review, like in reviews %}

                <li>
                    {% include 'elements/activity/reviews_list_element.html' %}
                </li>

            {% endfor %}
        </ul>

    </div>

    <script src="{% static 'js/like_review.js' %}"></script>
{% endblock %}
