{% extends 'base.html' %}
{% block content %}

    <h2>CollGame - трекер коллекции видеоигр!</h2>
    <p>
        Добро пожаловать на CollGame - ваш персональный трекер коллекции видеоигр!
        Здесь вы можете удобно отслеживать игры, которые у вас есть, хотите приобрести или просто интересны.
    </p>
    <div class="hello_user">
        {% if user.is_authenticated %}

            {% if user.first_name != '' %}
                <p>Привет, {{ user.first_name }}!</p>
            {% else %}
                <p>Привет, {{ user.username }}!</p>
            {% endif %}
            <p>Ознакомьтесь с нашими функциями, начните составлять свою коллекцию прямо сейчас!</p>

        {% else %}
            <p>
                Присоединяйтесь к CollGame, чтобы вести учет вашей коллекции видеоигр.
                <a href="{% url 'users:login' %}">Войдите</a> или
                <a href="{% url 'users:register' %}">зарегистрируйтесь</a> уже сейчас!
            </p>

        {% endif %}

    </div>

{% endblock %}
