{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="icon" type="image/png" href="{% url 'favicon' %} " >
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
    <script src="{% static 'js/error_handle.js' %}"></script>
    <header>

        <a href="/"> <img src="{% static 'img/gamepad.ico' %}" alt="icon"></a>

        <h2>CollGame - трекер коллекции видеоигр!</h2>

        <form action="{% url 'find_games' %}" method="get">
            <label>
                <input name="name" type="text" placeholder="Search...">
            </label>
            <input type="submit" value="Search">
        </form>

        {% include 'elements/user_nav.html' %}

    </header>
    <hr>

    <main>

        {% block content %}

        {% endblock %}

    </main>

    <hr>
    <footer>
        <a href="/"> <img src="{% static 'img/gamepad.ico' %}" alt="icon" style="width: 35px"></a>
        <a href="/"> Главная страница</a>
        <a href="{% url 'terms' %}"> Пользовательское соглашение </a>
        <a href="https://vk.com/ykkssyaa">VK</a>
    </footer>

</body>
</html>