<div class="activity_element card mb-3">
    <div class="card-body">
        <p class="card-title hours">Часы в игре:
            <span class="badge bg-secondary"> {{ activity.hours }} </span>
        </p>

        <div class="activity_description card-text ">
            {{ activity.description }}
        </div>

        {% if dictionary.user.pk == request.user.pk %}
            <form method="post" action="{% url 'activity:delete_activity' %}">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ activity.id }}">
                <input type="hidden" name="delete" value="1">
                <button type="submit" class="btn btn-danger mt-2">Удалить</button>
            </form>
        {% endif %}
    </div>
</div>

