<div class="review card mb-3" style="border: none;">
    <div class="card-body pl-4 pr-4">

        <h5 class="card-title ml-5 fs-3"><a href="{{ review.user.get_absolute_url }}">{{ review.user.username }}</a></h5>
        <p class="card-text"><span class="field-label">Оценка:</span> {{ review.stars }}</p>
        <hr>
        <p class="card-text"><span class="field-label">Описание:</span> <span class="description">{{ review.description }}</span></p>
        <hr>
        <p class="card-text"><span class="field-label">Написана:</span> {{ review.created }}</p>
        <p class="card-text"><span class="field-label">Лайки:</span> <span id="review_likes_{{ review.id }}">{{ review.likereview_set.all.count }}</span></p>

        {% if review.user.pk != user.pk %}
            {% if like %}
                <button class="btn btn-primary like-button button_liked" data-review-id="{{ review.id }}">Liked</button>
            {% else %}
                <button class="btn btn-outline-primary like-button button_not_liked" data-review-id="{{ review.id }}">Like</button>
            {% endif %}
        {% endif %}
    </div>
</div>
