{% extends 'base.html' %}
{% block content %}

    <h1>Авторизация</h1>

    <form method="post">

    <input type="hidden" name="next" value="{{ next }}" />

    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}

        <p> <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
        <div class="form-error">{{ f.error }}</div>

    {% endfor %}

    <p><button type="submit">Войти</button></p>

    </form>

    <p><a href="{% url 'users:register' %}?next={{ next }}">Регистрация</a></p>
{% endblock %}
