{% extends 'base.html' %}
{% block content %}

    <div class="container mt-5 box_with_shadow "  style="width: 50%">
        <h1 class="text-center">Авторизация</h1>

        <div class="row justify-content-center">
            <div class="col-md-10">
                <form method="post" class="mt-4">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}"/>

                    {% for f in form %}
                        <div class="mb-3">
                            <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                            {{ f }}
                            <div class="form-error">{{ f.errors }}</div>
                        </div>
                    {% endfor %}

                    <div class="text-center">
                        <button type="submit" class="btn btn-lg btn-primary">Войти</button>
                    </div>
                </form>
            </div>
        </div>

        <p class="mt-3 text-center"><a href="{% url 'users:register' %}?next={{ next }}">Регистрация</a></p>
    </div>

{% endblock %}
