{% extends 'base.html' %}
{% block content %}

    <div class="container user-header">
        <div class="row">
            <div class="user-main col">
                <h1 id="username"> {{ user_p.username }} </h1>

                {% include 'elements/users/user_photo.html' with user_of_photo=user_p %}
            </div>

            <div class="col-10 profile_buttons">
                <nav class="profile_nav row mt-5 mb-2">
                    <a class="col btn profile-btn m-2" href="{% url 'users:profile' username=user_p.username %}"> Профиль </a>
                    <a class="col btn profile-btn m-2" href="{% url 'users:profile_collection' username=user_p.username %}">
                        Коллекция</a>
                    <a class="col btn profile-btn m-2" href="{% url 'users:profile_reviews' username=user_p.username %}">
                        Рецензии</a>
                </nav>
                <div class="row mt-2 mb-2">
                    <div class="col">
                        {% if user_p.pk == request.user.pk %}
                            <a class="btn btn-secondary mt-2" href="{% url 'users:update_profile' %}">Настройки профиля</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3 user-block">
        {% block user_content %}

        {% endblock %}
    </div>
{% endblock %}