{% extends 'user/profile_base.html' %}
{% load static %}
{% block user_content %}

    <p class="created_at_info">Зарегистрирован: {{user_p.created}} </p>

    <div class="user_lists">
        <h2>Списки пользователя</h2>
        <ul>
            {% for list in user_p.userlist_set.all %}
            <li>{% include 'elements/users/userlist_element.html' %}</li>
            {% endfor %}
        </ul>

        {% include 'elements/users/add_new_list_form.html' %}

    </div>



    <div class="user_activity">
        <h2>Последняя активность пользователя</h2>

    </div>

{% endblock %}