{% extends 'user/profile_base.html' %}
{% load static %}
{% block user_content %}

    <div class="review-list">
        <h2>Рецензии пользователя</h2>
        <ul class="list-group">
            {% for review in user_p.review_set.all %}
                <li class="list-group-item">

                    <h4><a class="fs-2" href="{{ review.game.get_absolute_url }}">{{ review.game.name }}</a></h4>
                    {% include 'elements/activity/reviews_list_element.html' %}

                </li>
            {% endfor %}
        </ul>
    </div>

    <script src="{% static 'js/like_review.js' %}"></script>
{% endblock %}
