{% extends 'user/profile_base.html' %}
{% load static %}
{% block user_content %}

    <div class="container">
        {% if user_p.bio %}
            <div class="card">
                <div class="card-body">
                    {{ user_p.bio|linebreaksbr }}
                </div>
            </div>
        {% endif %}
        <p class="created_at_info">Зарегистрирован: {{ user_p.created }} </p>

        <hr>

        <div class="user_lists  mt-4">
            <h2>Списки пользователя</h2>
            <ul class="list-group m-3">
                {% for list in user_p.userlist_set.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-center w-50">
                        {% include 'elements/users/userlist_element.html' %}
                    </li>
                {% endfor %}
            </ul>

            {% include 'elements/users/add_new_list_form.html' %}

        </div>
        <hr>

        <div class="user_activity mt-4">
            <h2>Последняя активность пользователя</h2>
            <ul class="list-group m-3 fs-3">
                {% for dict in dicts %}
                    <li class="list-group-item d-flex justify-content-between align-items-center w-50">{% include 'elements/activity/dictionary_element.html' %}</li>
                {% endfor %}
            </ul>

            {% if user_p.pk == request.user.pk %}
                <a href="{% url 'activity:add_game_dictionary' %}" class="btn btn-primary mt-3">Добавить новый дневник прохождения</a>
            {% endif %}
        </div>
    </div>

{% endblock %}
