{% extends 'base.html' %}
{% block content %}

    <div class="container mt-5 box_with_shadow" style="width: 50%">
        <h1 class="text-center">Добро пожаловать!</h1>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <p class="text-center">Вы успешно зарегистрированы! Для продолжения работы необходимо авторизоваться!</p>
                <div class="text-center">
                    <a href="{% url 'users:login' %}?next={{ request.GET.next }}" class="btn btn-primary">Войти</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
